{% extends '::layout.html.twig' %}

{% block body %}
<form action="{{ path('status_add') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <div class="row">
        <div class="col-md-3">
            {% if form_errors(form.title) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form.title, {'attr': {'class': 'alert alert-danger', 'role':'alert' }} ) }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control', 'id':'title' }}) }}
                </div>
                <label for="title" class="col-sm-2 control-label">حط تيتر</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% if form_errors(form.content) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form.content, {'attr': {'class': 'alert alert-danger', 'role':'alert' }} ) }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="form-group">

                <div class="col-sm-10">
                    {{  form_widget(form.content, {'attr': {'class': 'form-control', 'id':'content' }}) }}
                </div>
                <label for="content" class="col-sm-2 control-label">عبر</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-11"></div>
                        <div class="col-sm-1">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.NSFW, {'attr': {'id':'NSFW'}}) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <label for="NSFW" class="col-sm-2 control-label">-18</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-sm-offset-0 col-sm-10">
                    <input type="submit" value="submit" class="btn btn-primary btn-lg btn-block" />
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_errors(form) }}
</form>
{% endblock %}