{% extends "::layout.html.twig" %}

{% block body_javascripts %}
    <div id="fb-root"></div>
    <script src="{{ asset('js/FB_patage.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        {{ status.title }}
                    </div>
                    {% if app.user %}
                        {% if app.user.id == status.user.id %}
                        <div class="col-md-2">
                            <a class="btn btn-default" href="{{ path("status_edit",{ "status_id": status.id}) }}">Modifier</a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">{{ status.content }}</div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2">{{ status.likes }} likes</div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
                    </div>
                </div>
            </div>

        </div>
        {% for comment in list %}

        <div class="well well-sm">
            <div class="row">
                <div class="col-md-1"><p class="text-primary">{{ comment.user.username }}</p></div>
                <div class="col-lg-11">{{ comment.content }}</div>
            </div>
        </div>

        {% endfor %}
        {% if app.user %}
        <div class="row">
            <form id="comment_form" action="{{ path('status_show', {'status_id': status.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                <div class="col-lg-9">

                    <div class="well well-sm">
                        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'id':'content' }}) }}
                    </div>
                </div>

                {{ form_widget(form._token)}}
                <div class="form-group">
                    <div class="col-lg-3">
                        <input type="submit" value="submit" class="btn btn-primary btn-lg btn-block" />
                    </div>
                </div>
            </form>
        </div>
            {% endif %}
    </div>
    </div>

{% endblock %}