{% extends "::layout.html.twig" %}

{% block body_javascripts %}
    <div id="fb-root"></div>
    <script src="{{ asset('js/FB_patage.js') }}"></script>
{% endblock %}
{% block body %}
    <div onload="get_vote();" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        {{ status.title }}
                    </div>
                    {% if app.user %}
                        {% if app.user.id == status.user.id %}
                        <div class="col-md-2">
                            <a class="btn btn-default" href="{{ path("status_edit",{ "status_id": status.id}) }}">Modifier</a>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">{{ status.content }}</div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2"> <div id="count">{{ status.likes }} likes</div></div>
                    <div id="thumbs_up" class="col-md-1">
                        <button  type="button" id="up_button" class="btn btn-default increment up">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="down_button" class="btn btn-default increment down">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
                    </div>
                </div>
            </div>

        </div>

        {% if app.user %}
            <div class="row">
                <form id="comment_form" action="{{ path('status_show', {'status_id': status.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
                    <div id="jquery_div">
                        <div  class="col-lg-9">

                            <div  class="well well-sm">
                                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'id':'content' }}) }}
                            </div>
                        </div>

                        {{ form_widget(form._token)}}
                        <div class="form-group">
                            <div class="col-lg-3">
                                <input type="submit" value="submit" class="btn btn-primary btn-lg btn-block" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}

        <div id="comment_list">
        {% for comment in list %}

        <div class="well well-sm">
            <div class="row">
                <div class="col-md-1"><p class="text-primary">{{ comment.user.username }}</p></div>
                <div class="col-lg-11">{{ comment.content }}</div>
            </div>
        </div>

        {% endfor %}
        </div>

    </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $("#comment_form").submit(function() {

            var url;//= "{{ path('status_show', {'status_id': status.id}) }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $("#comment_form").serialize(),
                success: function(data) {
                    $('#comment_list').load(document.URL +  ' #comment_list');
                    $('#jquery_div').load(document.URL +  ' #jquery_div');
                }
            });

            return false;
        });

        $(function(){

            $(".increment").click(function(){


                if($(this).hasClass("up")) {

                    var url = "{{ path('vote_up_status', {'status_id': status.id}) }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function(data){
                            if(data.button=="up_button") {

                                document.getElementById("up_button").style.background = '#337ab7';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }else
                            {
                                document.getElementById("up_button").style.background = '#ffffff';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }
                            $('#count').load(document.URL +  ' #count');

                        }
                    });

                } else {


                    var url = "{{ path('vote_down_status', {'status_id': status.id}) }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function(data){

                            if(data.button=="down_button") {
                                document.getElementById("down_button").style.background = '#337ab7';
                                document.getElementById("up_button").style.background = '#ffffff';
                            }else
                            {
                                document.getElementById("up_button").style.background = '#ffffff';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }
                            $('#count').load(document.URL +  ' #count');

                        }
                    });

                }

                $(this).parent().addClass("bump");

                setTimeout(function(){
                    $(this).parent().removeClass("bump");
                }, 400);
            });
        });

        window.onload = function() {

            if("{{ user_vote }}"=="vote_up") {
                document.getElementById("up_button").style.background = '#337ab7';
                document.getElementById("down_button").style.background = '#ffffff';
            }else if("{{ user_vote }}"=="no_vote")
            {
                document.getElementById("up_button").style.background = '#ffffff';
                document.getElementById("down_button").style.background = '#ffffff';
            }
            else if("{{ user_vote }}"=="vote_down")
            {
                document.getElementById("up_button").style.background = '#ffffff';
                document.getElementById("down_button").style.background = '#337ab7';
            }

        }
    </script>
{% endblock %}