{% extends "::layout.html.twig" %}
{% import "TafrikaPostBundle:Macros:comment.html.twig" as commentShow %}
{% import "TafrikaPostBundle:Macros:post.html.twig" as postRender %}

{% block body_javascripts %}
    <div id="fb-root"></div>
    <script src="{{ asset('js/FB_patage.js') }}"></script>
{% endblock %}
{% block body %}

    </br>
    <div onload="get_vote();" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        {{ postRender.postShow(status, true, matchingVotes) }}

        {% if app.user %}
            {{ render(controller('TafrikaPostBundle:Comment:renderAddComment', {'post_id': status.id } )) }}
        {% endif %}

        {{ commentShow.renderCommentList(comments, status) }}

    </div>
    </div>
    <script src="{{ asset('js/signal.js') }}"></script>
    <script src="{{ asset('js/vote.js') }}"></script>
{% endblock %}