<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/main_style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-social.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css" />
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% block head_javascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body_javascripts %}{% endblock %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-right" href="#">تفريكة</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        {#<a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-caret-down"></span></a>
                        #}<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-caret-down"></span> مفرك <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            {% if app.user %}
                            <li><a href="{{ path('fos_user_profile_show') }}">بروفيلي <i class="fa fa-home"></i></a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">انستو  <i class="fa fa-sign-out"></i></a></li>
                            {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">تفضل بحذانا <i class="fa fa-sign-in"></i></a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">أعمل بروفيل <i class="fa fa-user-plus"></i></a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            {% if app.session.get('nsfw') == 1 %}
                                <li><a href="{{ path('nsfw_change') }}">وريلنا لفساد <i class="fa fa-exclamation-triangle"></i></a></li>
                            {% else %}
                                <li><a href="{{ path('nsfw_change') }}">تنحي لفساد<i class="fa fa-smile-o"></i></a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav  navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">تحميل
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('status_add') }}">فاش تخمم</a></li>
                            <li><a href="{{ path('image_add') }}">تصويرة</a></li>
                            <li><a href="{{ path('video_add') }}">فيديو</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('tafrika_index') }}">فرشك</a></li>
                    <li><a href="#">لممو</a></li>
                </ul>
                <ul class="nav navbar-nav">

                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid">
    </br></br></br></br>
    {% block body %}{% endblock %}
</div>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block foot_javascripts %}

{% endblock %}
</body>
</html>
