{% extends "::layout.html.twig" %}
{% import "TafrikaPostBundle:Macros:comment.html.twig" as commentShow %}
{% import "TafrikaPostBundle:Macros:post.html.twig" as postRender %}

{% block body_javascripts %}
    <div id="fb-root"></div>
    <script src="{{ asset('js/FB_patage.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        {{ postRender.postShow(video,true) }}
        {% if app.user %}
            {{ render(controller('TafrikaPostBundle:Comment:renderAddComment', {'post_id': video.id } )) }}
        {% endif %}

        {{ commentShow.renderCommentList(comments) }}
    </div>
    </div>
    <script src="{{ asset('js/signal.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#delete_comment').on('click',function(e){
                e.preventDefault();
                var $this = $(this);
                var $comment_id = $this.attr('content');
                if($comment_id===''){
                    alert("une erreur est servenu try again later");
                }else{
                    $.ajax({
                        url: '{{ path('comment_remove') }}',
                        type: 'POST',
                        data: { 'comment_id' : $comment_id },
                        success: function(data) {
                            //alert(data.message);
                            $('#comment_list').load(document.URL +  ' #comment_list');
                            $('#jquery_div').load(document.URL +  ' #jquery_div');
                        },
                        error: function(jq,status,message){
                            //alert(message);
                        }
                    });
                }

            });
        });
    </script>
    <script>
        $("#comment_form").submit(function() {

            var url = "{{ path('video_show', {'video_id': video.id}) }}";
            $.ajax({
                type: "POST",
                url: url,
                data: $("#comment_form").serialize(),
                success: function(data) {
                    $('#comment_list').load(document.URL +  ' #comment_list');
                    $('#jquery_div').load(document.URL +  ' #jquery_div');
                }
            });

            return false;
        });

        $(function(){

            $(".increment").click(function(){


                if($(this).hasClass("up")) {

                    var url = "{{ path('vote_up_video', {'video_id': video.id}) }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function(data){
                            if(data.button=="up_button") {
                                document.getElementById("up_button").style.background = '#337ab7';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }else
                            {
                                document.getElementById("up_button").style.background = '#ffffff';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }
                            $('#count').load(document.URL +  ' #count');

                        }
                    });

                } else {


                    var url = "{{ path('vote_down_video', {'video_id': video.id}) }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function(data){

                            if(data.button=="down_button") {
                                document.getElementById("down_button").style.background = '#337ab7';
                                document.getElementById("up_button").style.background = '#ffffff';
                            }else
                            {
                                document.getElementById("up_button").style.background = '#ffffff';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }
                            $('#count').load(document.URL +  ' #count');

                        }
                    });

                }

                $(this).parent().addClass("bump");

                setTimeout(function(){
                    $(this).parent().removeClass("bump");
                }, 400);
            });
        });

        window.onload = function() {

            if("{{ user_vote }}"=="vote_up") {
                document.getElementById("up_button").style.background = '#337ab7';
                document.getElementById("down_button").style.background = '#ffffff';
            }else if("{{ user_vote }}"=="no_vote")
            {
                document.getElementById("up_button").style.background = '#ffffff';
                document.getElementById("down_button").style.background = '#ffffff';
            }
            else if("{{ user_vote }}"=="vote_down")
            {
                document.getElementById("up_button").style.background = '#ffffff';
                document.getElementById("down_button").style.background = '#337ab7';
            }

        }
    </script>
{% endblock %}