{% extends "::layout.html.twig" %}
{% import "TafrikaPostBundle:Macros:comment.html.twig" as commentShow %}
{% import "TafrikaPostBundle:Macros:post.html.twig" as postRender %}
{% block body %}
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        {{ postRender.postShow(video,true, matchingVotes) }}
        {% if app.user %}
            {{ render(controller('TafrikaPostBundle:Comment:renderAddComment', {'post_id': video.id } )) }}
        {% endif %}

        {{ commentShow.renderCommentList(comments, video) }}
    </div>
    </div>
    <script src="{{ asset('js/signal.js') }}"></script>
    <script src="{{ asset('js/vote.js') }}"></script>
{% endblock %}
{% block foot_javascripts %}
    <script type="text/javascript">
        if (typeof(Yamli) == "object" && Yamli.init( { uiLanguage: "fr" , startMode: "off" } ))
        {
            Yamli.yamlify( "tafrika_postbundle_comment_content", { settingsPlacement: "inside" } );
        }
    </script>
{% endblock %}