{% extends "::layout.html.twig" %}
{% import "TafrikaPostBundle:Macros:signal.html.twig" as signal %}
{% block title %}{{ user.username }} Profile {% endblock %}
{% block body %}
    <div class="jumbotron">
        <div style="text-align: center">
            <h4>{{ user.username }}</h4>
            {% if app.user %}
                <p><a href="#"
                      role="button" id="friendButton"
            {% if not(app.user.isFollowed(user)) %}
                 class="btn btn-primary" >زيدو لشلة
            {% else %}
                class="btn btn-success" >سي ديجا في شلة
            {% endif %}
                    </a></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for post in posts %}
                {% if post._type == "STATUS" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ signal.signalButton(post.id) }}
                            <a href="{{ path('status_show', {'status_id': post.id}) }}"><h4>{{ post.title }}</h4></a>
                        </div>
                        <div class="panel-body">
                            {{ post.content }}
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-2"><div id="{{ 'count' ~ post.id }}">{{ post.likes }} likes</div></div>
                                <div class="col-md-1">
                                    <button type="button" id="{{ 'up_button' ~ post.id }}" class="btn btn-default  increment up status">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" id="like"></span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="{{ 'down_button' ~ post.id }}" class="btn btn-default  increment down status">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif post._type == "VIDEO" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ signal.signalButton(post.id) }}
                            <a href="{{ path('video_show', {'video_id':post.id}) }}"><h4>{{ post.title }}</h4></a>
                        </div>
                        <div class="panel panel-body">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item"
                                        src="{{ post.url }}">
                                </iframe>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-2"><div id="{{ 'count' ~ post.id }}">{{ post.likes }} likes</div></div>
                                <div class="col-md-1">
                                    <button type="button" id="{{ 'up_button' ~ post.id }}" class="btn btn-default  increment up video">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="{{ 'down_button' ~ post.id }}" class="btn btn-default  increment down video">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif post._type == "IMAGE" %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ signal.signalButton(post.id) }}
                            <a href="{{ path('image_show', {'image_id':post.id}) }}"><h4>{{ post.title }}</h4></a>
                        </div>
                        <div class="panel-body">
                            <img src="{{ asset(post.getWebPath) }}" alt="{{ post.title }}" class="img-responsive">
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-2"><div id="{{ 'count' ~ post.id }}">{{ post.likes }} likes</div></div>
                                <div class="col-md-1">
                                    <button type="button" id="{{ 'up_button' ~ post.id }}" class="btn btn-default  increment up image">
                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="{{ 'down_button' ~ post.id }}" class="btn btn-default increment down image">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <nav>
                <ul class="pagination">
                    {% if page>1 %}
                        <li>
                            <a href="{{ path('tafrika_index', {'page':page-1}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if page-2 > 0 %}
                        <li><a href="{{ path('tafrika_index', {'page':page-2}) }}">{{ page-2 }}</a></li>
                    {% endif %}
                    {% if page-1 > 0 %}
                        <li><a href="{{ path('tafrika_index', {'page':page-1}) }}">{{ page-1 }}</a></li>
                    {% endif %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                    {% if page+1 <= pageNumber %}
                        <li><a href="{{ path('tafrika_index', {'page':page+1}) }}">{{ page+1 }}</a></li>
                    {% endif %}
                    {% if page+2 <= pageNumber %}
                        <li><a href="{{ path('tafrika_index', {'page':page+2}) }}">{{ page+2 }}</a></li>
                    {% endif %}
                    {% if page < pageNumber %}
                        <li>
                            <a href="{{ path('tafrika_index',{'page':page+1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock body %}
{% block foot_javascripts %}
    <script>
        var currentUserId = {{ app.user.id|json_encode() }};
        var userId = {{ user.id|json_encode() }};
        var userFollowed = {{ user.followed|json_encode() }};
        var isFollowed = $.inArray(currentUserId,userFollowed)!= -1 ? true : false ;
        $("#friendButton").click(function(){
           if(isFollowed){ // user are not friend
               $.ajax({
                   cache: false,
                   type: "POST",
                   url: "{{ path('add_followed') }}",
                   data: { 'followed_id': userId }
               }).done(function(msg){
                   isFollowed = !isFollowed ;
                   $("#friendButton").removeClass('btn-primary').addClass('btn-success');
                   $("#friendButton").text("سي ديجا في شلة");
               })
           }else{
               $.ajax({
                   cache: false,
                   type: "POST",
                   url: "{{ path('delete_followed') }}",
                   data: { 'followed_id': userId }
               }).done(function(msg) {
                   isFollowed = !isFollowed;
                   $("#friendButton").removeClass('btn-success').addClass('btn-primary');
                   $("#friendButton").text("زيدو لشلة");
               })
           }
        });
        $("#friendButton").mouseover(function(){
            if(!isFollowed){
                $("#friendButton").removeClass('btn-success').addClass('btn-danger');
                $("#friendButton").text('فسخ الكازي');
            }
        });
        $("#friendButton").mouseout(function(){
            if(!isFollowed){
                $("#friendButton").removeClass('btn-danger').addClass('btn-success');
                $("#friendButton").text('سي ديجا في شلة');
            }
        })
        /*****/
        $(function(){

            $(".increment").click(function(){


                if($(this).hasClass("up")) {
                    if ($(this).hasClass("video")) {
                        var id = $.parseJSON($(this).attr('id').substr(9));
                        var url = Routing.generate('vote_up_video', {'video_id': id});
                    }else if ($(this).hasClass("image")) {
                        var id = $.parseJSON($(this).attr('id').substr(9));
                        var url = Routing.generate('vote_up_image', {'image_id': id});
                    }else if ($(this).hasClass("status")) {
                        var id = $.parseJSON($(this).attr('id').substr(9));
                        var url = Routing.generate('vote_up_status', {'status_id': id});
                    }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function (data) {
                            up="up_button";
                            down="down_button";
                            count=" #count";
                            if (data.button == "up_button") {
                                document.getElementById(up.concat(id)).style.background = '#337ab7';
                                document.getElementById(down.concat(id)).style.background = '#ffffff';
                            } else {
                                document.getElementById(up.concat(id)).style.background = '#ffffff';
                                document.getElementById(down.concat(id)).style.background = '#ffffff';
                            }
                            $(count.concat(id)).load(document.URL + count.concat(id));

                        }
                    });


                } else {
                    if ($(this).hasClass("video")) {
                        var id = $.parseJSON($(this).attr('id').substr(11));
                        var url = Routing.generate('vote_down_video', {'video_id': id});
                    }else if ($(this).hasClass("image")) {
                        var id = $.parseJSON($(this).attr('id').substr(11));
                        var url = Routing.generate('vote_down_image', {'image_id': id});
                    }else if ($(this).hasClass("status")) {
                        var id = $.parseJSON($(this).attr('id').substr(11));
                        var url = Routing.generate('vote_down_status', {'status_id': id});
                    }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function (data) {
                            up = "up_button";
                            down = "down_button";
                            count=" #count";
                            if (data.button == "down_button") {
                                document.getElementById(down.concat(id)).style.background = '#337ab7';
                                document.getElementById(up.concat(id)).style.background = '#ffffff';
                            } else {
                                document.getElementById(up.concat(id)).style.background = '#ffffff';
                                document.getElementById(down.concat(id)).style.background = '#ffffff';
                            }
                            $(count.concat(id)).load(document.URL + count.concat(id));

                        }
                    });


                }

                $(this).parent().addClass("bump");

                setTimeout(function(){
                    $(this).parent().removeClass("bump");
                }, 400);
            });
        });


        window.onload = function() {
            {% for vote in votes %}
            if(({{ vote.vote }})==1) {
                document.getElementById("{{ 'up_button' ~ vote.post.id }}").style.background = '#337ab7';
            }
            else {
                document.getElementById("{{ 'down_button' ~ vote.post.id }}").style.background = '#337ab7';
            }
            {% endfor %}

        }

    </script>
{% endblock %}
