{% extends "::layout.html.twig" %}
{% import "TafrikaPostBundle:Macros:post.html.twig" as postRender %}
{% block title %}{{ user.username }} Profile {% endblock %}
{% block body %}
    <div class="jumbotron">
        <div style="text-align: center">
            <img class="img-circle" src="{{ user.email|getGravatarImage(60)}}" >
        <h4>{{ user.username }}</h4>
            {% if app.user %}
                {% if app.user.username == user.username %}
                    <p><a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}"
                          role="button">Edit profile</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for post in posts %}
                {{ postRender.postShow(post,false) }}
            {% endfor %}
            <nav>
                <ul class="pagination">
                    {% if page>1 %}
                        <li>
                            <a href="{{ path('tafrika_index', {'page':page-1}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if page-2 > 0 %}
                        <li><a href="{{ path('tafrika_index', {'page':page-2}) }}">{{ page-2 }}</a></li>
                    {% endif %}
                    {% if page-1 > 0 %}
                        <li><a href="{{ path('tafrika_index', {'page':page-1}) }}">{{ page-1 }}</a></li>
                    {% endif %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                    {% if page+1 <= pageNumber %}
                        <li><a href="{{ path('tafrika_index', {'page':page+1}) }}">{{ page+1 }}</a></li>
                    {% endif %}
                    {% if page+2 <= pageNumber %}
                        <li><a href="{{ path('tafrika_index', {'page':page+2}) }}">{{ page+2 }}</a></li>
                    {% endif %}
                    {% if page < pageNumber %}
                        <li>
                            <a href="{{ path('tafrika_index',{'page':page+1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <script>

        $(function(){

            $(".increment").click(function(){


                if($(this).hasClass("up")) {
                    if ($(this).hasClass("video")) {
                        var id = $.parseJSON($(this).attr('id').substr(9));
                        var url = Routing.generate('vote_up_video', {'video_id': id});
                    }else if ($(this).hasClass("image")) {
                        var id = $.parseJSON($(this).attr('id').substr(9));
                        var url = Routing.generate('vote_up_image', {'image_id': id});
                    }else if ($(this).hasClass("status")) {
                        var id = $.parseJSON($(this).attr('id').substr(9));
                        var url = Routing.generate('vote_up_status', {'status_id': id});
                    }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function (data) {
                            up="up_button";
                            down="down_button";
                            count=" #count";
                            if (data.button == "up_button") {
                                document.getElementById(up.concat(id)).style.background = '#337ab7';
                                document.getElementById(down.concat(id)).style.background = '#ffffff';
                            } else {
                                document.getElementById(up.concat(id)).style.background = '#ffffff';
                                document.getElementById(down.concat(id)).style.background = '#ffffff';
                            }
                            $(count.concat(id)).load(document.URL + count.concat(id));

                        }
                    });


                } else {
                    if ($(this).hasClass("video")) {
                        var id = $.parseJSON($(this).attr('id').substr(11));
                        var url = Routing.generate('vote_down_video', {'video_id': id});
                    }else if ($(this).hasClass("image")) {
                        var id = $.parseJSON($(this).attr('id').substr(11));
                        var url = Routing.generate('vote_down_image', {'image_id': id});
                    }else if ($(this).hasClass("status")) {
                        var id = $.parseJSON($(this).attr('id').substr(11));
                        var url = Routing.generate('vote_down_status', {'status_id': id});
                    }
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function (data) {
                            up = "up_button";
                            down = "down_button";
                            count=" #count";
                            if (data.button == "down_button") {
                                document.getElementById(down.concat(id)).style.background = '#337ab7';
                                document.getElementById(up.concat(id)).style.background = '#ffffff';
                            } else {
                                document.getElementById(up.concat(id)).style.background = '#ffffff';
                                document.getElementById(down.concat(id)).style.background = '#ffffff';
                            }
                            $(count.concat(id)).load(document.URL + count.concat(id));

                        }
                    });


                }

                $(this).parent().addClass("bump");

                setTimeout(function(){
                    $(this).parent().removeClass("bump");
                }, 400);
            });
        });


        window.onload = function() {
            {% for vote in votes %}
            if(({{ vote.vote }})==1) {
                document.getElementById("{{ 'up_button' ~ vote.post.id }}").style.background = '#337ab7';
            }
            else {
                document.getElementById("{{ 'down_button' ~ vote.post.id }}").style.background = '#337ab7';
            }
            {% endfor %}

        }
    </script>
{% endblock body %}
