{% extends "::layout.html.twig" %}
{% import "TafrikaPostBundle:Macros:post.html.twig" as postRender %}
{% block title %}{{ user.username }} Profile {% endblock %}
{% block body %}
    <div class="jumbotron">
        <div style="text-align: center">
            <h4>{{ user.username }}</h4>
            {% if app.user %}
                <p><a href="#"
                      role="button" id="friendButton" currentUserId ="{{ app.user.id|json_encode() }}"
                      userId ="{{ user.id|json_encode() }}"
                      isFollowed ="{{ app.user.isFollowed(user) ? 'true' : 'false'}}"
                      addPath="{{ path('add_followed') }}"
                      deletePath="{{ path('delete_followed') }}"
                {% if not(app.user.isFollowed(user)) %}
                 class="btn btn-primary" >زيدو لشلة
                {% else %}
                    class="btn btn-success" >سي ديجا في شلة
                {% endif %}
                </a></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="posts">
                {% for post in posts %}
                    {{ postRender.postShow(post, false, matchingVotes) }}
                {% endfor %}
            </div>
            <a id="load_post_link" href="{{ path('post_load') }}"
               postsPerLoad="{{POSTS_PER_LOAD}}" type="user" userid="{{ user.id }}" totalPage="{{ totalPage }}"
               style="visibility: hidden;" > load more posts</a>
        </div>
    </div>
{% endblock body %}
{% block foot_javascripts %}
    <script src="{{ asset('js/loadPosts.js') }}"></script>
    <script src="{{ asset('js/add_remove_followed.js') }}"></script>
    <script src="{{ asset('js/vote.js') }}"></script>
{% endblock %}
