{% extends "::layout.html.twig" %}
{% import "TafrikaPostBundle:Macros:signal.html.twig" as signal %}

{% block body_javascripts %}
    <div id="fb-root" xmlns="http://www.w3.org/1999/html"></div>
    <script src="{{ asset('js/FB_patage.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                {{ signal.signalButton(image.id) }}
                {% if app.user %}
                    {% if app.user.id == image.user.id %}
                        <a href="{{ path("image_edit",{ "image_id": image.id}) }}" class="btn btn-default pull-right">Modifier</a>
                    {% endif %}
                {% endif %}
                <h4>{{ image.title }}</h4>
            </div>
            <div class="panel-body">
                <div class="clearfix"></div>
                <img src="{{ asset(image.getWebPath) }}" alt="{{ image.title }}" class="img-responsive">
                <div class="media-heading comment_date pull-right">By
                    <a
                        {% if app.user == image.user%}
                        href="{{ path('fos_user_profile_show') }}"
                    {% else %}
                        href="{{ path('user_profile', {'page': 1,'user_id': image.user.id}) }}"
                    {% endif %}
                    > {{ image.user.username }} </a> on {{ image.createdAt|date('F d, Y') }}
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-2"> <div id="count">{{ image.likes }} likes</div></div>
                    <div id="thumbs_up" class="col-md-1">
                        <button  type="button" id="up_button" class="btn btn-default increment up">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="down_button" class="btn btn-default increment down">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
                    </div>
                </div>
            </div>
        </div>


        {% if app.user %}
            {{ render(controller('TafrikaPostBundle:Comment:renderComment', {'post_id': image.id } )) }}
        {% endif %}

        <div id="comment_list">
            <ul class="list-group">
                {% for comment in list %}
                    <li class="list-group-item">
                        {% if comment.user == app.user %}
                        <a id="delete_comment" content="{{ comment.id }}"><i class="fa fa-trash pull-right"></i></a>
                        {% endif %}
                        <div class="media">
                            <div class="media-left media-middle">
                                <a
                                {% if app.user == comment.user%}
                                 href="{{ path('fos_user_profile_show') }}">
                                    {% else %}
                                     href="{{ path('user_profile', {'page': 1,'user_id': comment.user.id}) }}">
                                        {% endif %}
                                        <img class="media-object" src="{{ comment.user.email|getGravatarImage(40)}}" >
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading comment_date">{{ comment.date|date }}</h6>

                                {{ comment.content }}

                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    </div>
    <script src="{{ asset('js/signal.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#delete_comment').on('click',function(e){
                e.preventDefault();
                var $this = $(this);
                var $comment_id = $this.attr('content');
                if($comment_id===''){
                    alert("une erreur est servenu try again later");
                }else{
                    $.ajax({
                        url: '{{ path('comment_remove') }}',
                        type: 'POST',
                        data: { 'comment_id' : $comment_id },
                        success: function(data) {
                            //alert(data.message);
                            $('#comment_list').load(document.URL +  ' #comment_list');
                            $('#jquery_div').load(document.URL +  ' #jquery_div');
                        },
                        error: function(jq,status,message){
                            //alert(message);
                        }
                    });
                }

            });
        });
    </script>

    <script>


        $(function(){

            $(".increment").click(function(){


                if($(this).hasClass("up")) {

                    var url = "{{ path('vote_up_image', {'image_id': image.id}) }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function(data){
                            if(data.button=="up_button") {
                                document.getElementById("up_button").style.background = '#337ab7';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }else
                            {
                                document.getElementById("up_button").style.background = '#ffffff';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }
                            $('#count').load(document.URL +  ' #count');

                        }
                    });

                } else {


                    var url = "{{ path('vote_down_image', {'image_id': image.id}) }}";
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#thumbs_up").serialize(),
                        success: function(data){

                            if(data.button=="down_button") {
                                document.getElementById("down_button").style.background = '#337ab7';
                                document.getElementById("up_button").style.background = '#ffffff';
                            }else
                            {
                                document.getElementById("up_button").style.background = '#ffffff';
                                document.getElementById("down_button").style.background = '#ffffff';
                            }
                            $('#count').load(document.URL +  ' #count');

                        }
                    });

                }

                $(this).parent().addClass("bump");

                setTimeout(function(){
                    $(this).parent().removeClass("bump");
                }, 400);
            });
        });

        window.onload = function() {

            if("{{ user_vote }}"=="vote_up") {
                document.getElementById("up_button").style.background = '#337ab7';
                document.getElementById("down_button").style.background = '#ffffff';
            }else if("{{ user_vote }}"=="no_vote")
            {
                document.getElementById("up_button").style.background = '#ffffff';
                document.getElementById("down_button").style.background = '#ffffff';
            }
            else if("{{ user_vote }}"=="vote_down")
            {
                document.getElementById("up_button").style.background = '#ffffff';
                document.getElementById("down_button").style.background = '#337ab7';
            }

        }
    </script>
{% endblock %}