{% macro renderCommentList(comments, post) %}
    <div id="comment_list">
        <ul id="comment_list_ul" class="list-group">
            {% for comment in comments %}
                {{ _self.renderComment(comment) }}
            {% endfor %}
        </ul>
        <a id="load_comment_link" href="{{ path('comment_load') }}" content="{{ post.id }}" commentPerLoad="{{COMMENTS_PER_LOAD}}" > load more comment</a>
    </div>
    <script src="{{ asset('js/loadComment.js') }}"></script>
    <script src="{{ asset('js/deleteComment.js') }}"></script>
{% endmacro %}

{% macro renderComment(comment) %}
    <li class="list-group-item">
        {% if comment.user.id == app.user.id %}
            <a id="delete_comment" content="{{ comment.id }}" href="{{ path('comment_remove') }}">
                <i class="fa fa-trash pull-right"></i></a>
        {% endif %}
        <div class="media">
            <div class="media-left media-middle">
                <a
                        {% if app.user.id == comment.user.id %}
                            href="{{ path('fos_user_profile_show') }}"
                        {% else %}
                            href="{{ path('user_profile', {'page': 1,'user_id': comment.user.id}) }}"
                        {% endif %}
                        ><img class="media-object" src="{{ comment.user.email|getGravatarImage(40)}}" >
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-heading comment_date">{{ comment.createdAt|createdAt }}</h6>
                {{ comment.content }}
            </div>
        </div>
    </li>
{% endmacro %}