{#
    onPostPage: boolean, are we in the page that shows the post
#}
{% macro postShow(post, onPostPage, votes) %}
    <div class="panel panel-default">
        {{ _self.postHead(post, onPostPage) }}
        {{ _self.postBody(post, onPostPage) }}
        {{ _self.postFooter(post, votes) }}
    </div>
{% endmacro %}

{% macro  postHead(post, onPostPage)%}
    <div class="panel-heading">
        {% import "TafrikaPostBundle:Macros:signal.html.twig" as signal %}
        {{ signal.signalButton(post.id) }}

        {% if app.user and onPostPage %}
            {% if app.user.id == post.user.id %}
                {% if post._type == "STATUS" %}
                    <a href="{{ path("status_edit",{ "status_id": post.id}) }}"
                       class="btn btn-default pull-right">Modifier</a>
                {% elseif post._type == "IMAGE" %}
                    <a href="{{ path("image_edit",{ "image_id": post.id}) }}"
                       class="btn btn-default pull-right">Modifier</a>
                {% elseif post._type == "VIDEO" %}
                    <a href="{{ path("video_edit",{ "video_id": post.id}) }}"
                       class="btn btn-default pull-right">Modifier</a>
                {% endif %}

            {% endif %}
        {% endif %}
        <a href="{{ path('post_show', {'post_slug': post.slug}) }}"><h4>{{ post.title }}</h4></a>
    </div>
{% endmacro %}

{#
    onPostPage: boolean, are we in the page that shows the post
#}
{% macro postBody(post, onPostPage) %}
    <div class="panel-body">
        <div class="clearfix"></div>
        {% if post._type == "STATUS" %}
            {{ _self.statusBody(post) }}
        {% elseif post._type == "IMAGE" %}
            {{ _self.imageBody(post) }}
        {% elseif post._type == "VIDEO" %}
            {{ _self.videoBody(post) }}
        {% endif %}
        {% if onPostPage %}
            <div class="media-heading comment_date pull-right">By
                <a
                    {% if app.user == post.user%}
                        href="{{ path('fos_user_profile_show') }}"
                    {% else %}
                        href="{{ path('user_profile', {'page': 1,'user_id': post.user.id}) }}"
                    {% endif %}
                > {{ post.user.username }} </a> on {{ post.createdAt|createdAt('F d, Y') }}
                </br> {% if app.user == post.user%}
                        <a href="{{ path('post_delete', {'post_id': post.id}) }}">Delete Post</a>
                       {% endif%}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro postFooter(post, votes) %}
    <div class="panel-footer">
        <div class="row">
            <div class="pull-left">
                <span id="count{{ post.id }}">{{ post.likes }} likes</span>
            <div class="btn-group" role="group" aria-label="likes-buttons">
                {% if post.id in votes|keys %}
                    {% if attribute(votes, post.id) == 1  %}
                        <button id="button_up" postId="{{ post.id }}" path="{{ path('vote_up') }}"
                                type="button" class="btn btn-default change_state_up_{{ post.id }}">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                        <button id="button_down" postId="{{ post.id }}" path="{{ path('vote_down') }}"
                                type="button" class="btn btn-default change_state_down_{{ post.id }}">
                            <i class="fa fa-thumbs-o-down"></i>
                        </button>
                    {% elseif  attribute(votes, post.id)== -1  %}
                        <button id="button_up" postId="{{ post.id }}" path="{{ path('vote_up') }}"
                                type="button" class="btn btn-default change_state_up_{{ post.id }}">
                            <i class="fa fa-thumbs-o-up"></i>
                        </button>
                        <button id="button_down" postId="{{ post.id }}" path="{{ path('vote_down') }}"
                                type="button" class="btn btn-default change_state_down_{{ post.id }}">
                            <i class="fa fa-thumbs-down"></i>
                        </button>
                    {% endif %}
                {% else %}
                    <button id="button_up" postId="{{ post.id }}" path="{{ path('vote_up') }}"
                            type="button" class="btn btn-default change_state_up_{{ post.id }}">
                        <i class="fa fa-thumbs-o-up"></i>
                    </button>
                    <button id="button_down" postId="{{ post.id }}" path="{{ path('vote_down') }}"
                        type="button" class="btn btn-default change_state_down_{{ post.id }}">
                        <i class="fa fa-thumbs-o-down"></i>
                    </button>
                {% endif %}
            </div>
            </div>

            <div class="pull-right" >
                <button class="btn btn-social-icon btn-facebook">
                    <i class="fa fa-facebook"></i>
                </button>
                <button  class="btn btn-social-icon btn-google-plus">
                    <i class="fa fa-google-plus"></i>
                </button>
            </div>


        </div>
    </div>
{% endmacro %}

{% macro videoBody(video) %}
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item"
                src="{{ video.url }}">
        </iframe>
    </div>
{% endmacro %}

{% macro imageBody(image) %}
    <div >
        <img src="{{ asset(image.getWebPath) }}" alt="{{ image.title }}" class="img-responsive">
    </div>
{% endmacro %}

{% macro statusBody(status) %}
    <div>
        {{ status.content }}
    </div>
{% endmacro %}
